@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to bottom right,
            #0f172a,
            /* slate-900 */
            #1e293b,
            /* slate-800 */
            #0f172a
            /* slate-900 */
        );
}


.footer-title {
    @apply text-white font-semibold mb-3;
}

.input {
    @apply w-full p-2 rounded-lg bg-slate-800 border border-slate-700 focus:outline-none focus:border-blue-500;
}

.input {
    @apply w-full bg-slate-900 border border-slate-700 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
}